.tooltip-1 {
    padding: 20px;
}
.clearfix {
    clear: both;
}
.control{
    position: absolute;
    right: 20px;
    top: calc( 50% - 20px);
}
.margin-20{
    margin-right: 20px;
}
.card-header{
    position: relative;;
}