<h2>Форма</h2>
<div class="tooltip-1">
    <button (click)="add()" type="button" class="btn btn-primary float-right">Добавить</button>
    <div class="clearfix"></div>
</div>
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel *ngFor="let item of items; let i = index" class="panel_title">
        <ng-template ngbPanelHeader>
            <button ngbPanelToggle class="btn btn-link p-0">
                {{item.label}} {{item.name}}
                {{!item.label&&!item.name? '[new] '+i : ''}}
            </button>
            <button (click)="remove(item)" type="button" class="btn btn-danger  margin-20 float-right">Del</button>
            <button [disabled]="i===items.length-1" (click)="up(item)" type="button"
                class="btn btn-primary margin-20 float-right">Up</button>
            <button [disabled]="i===0" (click)="down(item)" type="button"
                class="btn btn-primary margin-20 float-right">Down</button>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Label</label>
                    <input type="text" [(ngModel)]="item.label" class="form-control" placeholder="Label">
                </div>
                <div class="form-group col-md-4">
                    <label>Name</label>
                    <input type="text" [(ngModel)]="item.name" class="form-control" placeholder="Name">
                </div>
                <div class="form-group col-md-4">
                    <label>Type</label>
                    <select [(ngModel)]="item.type" class="custom-select mr-sm-2">
                        <option value="string">string</option>
                        <option value="number">number</option>
                        <option value="array">array</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Widget</label>
                    <select [(ngModel)]="item.ui_widget" class="custom-select mr-sm-2">
                        <option>---</option>
                        <option value="radio">radio</option>
                        <option value="textarea">textarea</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label>MinLength</label>
                    <input [(ngModel)]="item.minLength" class="form-control" placeholder="minLength" />
                </div>
                <div class="form-group col-md-4">
                    <label>Placeholder</label>
                    <input type="text" [(ngModel)]="item.placeholder" class="form-control" placeholder="placeholder">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>
                        Required
                    </label>
                    <input type="checkbox" class="form-control" [(ngModel)]="item.required">
                </div>
                <div class="form-group col-md-4">
                    <label>Description</label>
                    <textarea [(ngModel)]="item.ui_description" class="form-control" placeholder="ui_description">
                        </textarea>

                </div>
                <div class="form-group col-md-4">
                    <label>Placeholder</label>
                    <input type="text" [(ngModel)]="item.placeholder" class="form-control" placeholder="placeholder">
                </div>
            </div>

        </ng-template>
    </ngb-panel>
</ngb-accordion>